<!DOCTYPE html>
<html>
    <head>
        <title>Reitti-demo</title>
        <link href="{{url_for('static',filename='reitti.css')}}" rel="StyleSheet" type="text/css"/>
        <script src="{{url_for('static',filename='reitti.js')}}" type="text/javascript"></script>
     </head>
    
    <body>
        <input id="mapstops" type="hidden" value='{{stops}}'/>
        <input id="maproads" type="hidden" value='{{roads}}'/>
        <input id="maproutes" type="hidden" value='{{routes}}'/>
        <input id="routecount" type="hidden" value='{{route_count}}'/>
        <form id="form" class="" action="{{request.base_url | replace('http://','https://')}}" method="post"></form>
        
        <h1>REITTI-APPLIKAATIO</h1>
        
        <table>
        <tr>
        
        <td>
        <table>
            <tr>
                <td colspan="2">
                    <label>MISTÄ</label>
                    <input class="inputfield" form="form" type="text" value="{{stop1}}" name="stop1" maxlength="2"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>MINNE</label>
                    <input class="inputfield" form="form" type="text" value="{{stop2}}" name="stop2" maxlength="2"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="mt10 inputbutton" form="form" type="submit" value="Hae"/>
                </td>
                <td>
                    {% if error %}
                    <p class="mt10 error bold">{{error}}</p>
                    {% endif %}
                </td>
                
            </tr>
        </table>
        </td>
        
        <td class="pl10 vert-a-bottom" id="routetable">
            {% if route_count==1 %}
            <p class="route">Kesto: {{route_infos[0].length}}, Vaihtoja: {{route_infos[0].shifts}}, Reitti: {{route_infos[0].route}}</p>
            {% elif route_count>1 %}
                {% for i in range(route_infos|length) %}
                <p class="route"><span class="bold pr10" data-id="{{i}}">[VALITSE]</span> Kesto: {{route_infos[i].length}}, Vaihtoja: {{route_infos[i].shifts}}, Reitti: {{route_infos[i].route}}</p>
                {% endfor %}
            {% endif %}
        </td>
        
        </tr>
        </table>
        
        <canvas id="reittiCanvas" width="960" height="600"></canvas>
        
    </body>
</html>
